/* Body */

body {
  background-color: #333;
  margin: 0;
  padding: 0;
}

/* Content */

.baseContent {
  background-color: #444;
  border-radius: 10px;
  margin: 10px;
  padding: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.infoContent {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.infoContent h1 {
  margin: 2px;
}

/* Canvas */

#canvas {
  background-image: url("images/unknown.png");
  background-size: contain;
  width: 100%;
  height: 250px;
  border-radius: 7px;
}

/* Interaction */

button {
  width: 300px;
  background-color: #666;
  color: #fff;
  transition: background-color 0.2s;
}

#objType {
  width: 280px;
  outline: none;
  margin: 10px;
}

#colors input {
  width: 100px;
  outline: none;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

button, #objType {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: #777;
}